.Dashboard {
    background-color: var(--rs-color-background-neutral);
    border-radius: 8px;
    border: 1px solid var(--rs-color-border-neutral);
    padding: 16px;
    overflow-y: auto;
}

.DashboardItem {
    display: grid;
    align-items: center;
    grid-template-columns: auto 200px 80px;
    gap: 20px;
    padding: 12px;
}

.DashboardItem *:nth-child(3) {
    text-align: right;
}

.DashboardItemTitle {
    text-transform: uppercase;
}

.DashboardItemChild {
    margin-left: 32px;
    cursor: pointer;
}

.DashboardItemChild .DashboardItem:hover {
    opacity: 0.7;
}

.DashboardItemComment {
    margin: 0 12px 0 48px;
}

.DashboardItemChecked .DashboardItemIndex {
    font-weight: 600;
}

.DashboardItemChecked .DashboardItemChildTitle {
    text-decoration: underline;
}